{% extends "base.html" %}
    <!-- header -->
{% block header %}
<h1 class="text-blue-600 font-bold text-[40px]">ToDo App</h1>
<a
  class="bg-blue-600 py-2 px-4 text-white font-semibold rounded-2xl text-lg mt-4 flex items-center gap-2"
  href="{% url "home_page" %}"
>
  <i class="bx bxs-home bx-sm"></i> Go to Home
</a>
{% endblock header %}
    
    <!-- Tasks -->
{% block content %}

<section
  class="flex flex-1 flex-wrap justify-center gap-3 bg-[#fff0] w-10/12 md:w-11/12 h-full mb-3 rounded-2xl p-3 overflow-y-auto scrollbar-hide"
>
  <!-- Task card -->
  <div
    class="w-full shadow-md md:w-4/6 flex flex-col bg-white h-fit rounded-xl p-3"
  >
    <!-- Top -->
    <div class="flex flex-col justify-between">
      <!-- Left: Title and Description -->

      <h1 class="text-gray-500 font-bold text-2xl underline text-center">
        Delete Confirmation
      </h1>
      <br />
      <h2 class="text-gray-500 font-semibold text-lg text-center">
        Are you sure you want to delete "<span
          class="text-green-500 font-semibold text-lg"
        >
          {{task.title}} </span
        >"? <br />This actioin is irreversible.
      </h2>
    </div>
    <!-- Line -->
    <hr class="border-t border-gray-200 my-2" />
    <!-- Bottom: Time and Date | Delete -->
    <div class="flex flex-row justify-around">
      <a
        href="{{request.META.HTTP_REFERER}}"
        class="py-1 px-2 bg-blue-600 rounded-xl flex items-center gap-1 text-white font-semibold"
        ><i class="bx bxs-left-arrow-circle"></i> Go Back</a
      >
      <a
        href="{% url "delete_task" task.pk %}"
        class="py-1 px-2 bg-red-600 rounded-xl flex items-center gap-1 text-white font-semibold"
        ><i class="bx bxs-trash"></i> Yes, Delete</a
      >
    </div>
  </div>
</section>
{% endblock content %}
