{% extends "base.html" %}

    <!-- header -->
{% block header %}
<h1 class="text-blue-600 font-bold text-[40px]">ToDo App</h1>
<a
  class="bg-blue-600 py-2 px-4 text-white font-semibold rounded-2xl text-lg mt-4 flex items-center gap-2"
  href="{% url "home_page" %}"
>
  <i class="bx bxs-left-arrow-circle bx-sm"></i> Go Back
</a>
{% endblock header %}    

    <!-- Tasks -->
{% block content %}

<section
  class="flex flex-1 flex-wrap justify-center gap-3 bg-[#fff0] w-10/12 md:w-11/12 h-full mb-3 rounded-2xl p-3 overflow-y-auto scrollbar-hide"
>
  <!-- Task card -->
  <div class="w-full md:w-4/6 flex flex-col bg-white h-fit rounded-xl p-3">
    <!-- Top -->
    <div class="flex flex-row justify-between">
      <!-- Left: Title and Description -->
      <div>
        <h1 class="text-green-500 font-semibold text-xl">
          {{task.title}}
        </h1>
        <br />
        <h2 class="text-blue-500 font-bold">
          Status:
          {% if task.completed %}
          <span class="font-medium text-green-400"
            >Completed <i class="bx bxs-badge-check"></i
          ></span>
          {% else %}
          <span class="font-medium text-red-400"
            >Not Completed <i class="bx bxs-sad"></i
          ></span>
          {% endif %}
        </h2>
        <h2 class="text-gray-500 font-bold italic underline mt-3">
          Description
        </h2>
        <p class="text-gray-500 text-md">
          {{task.description}}
        </p>
      </div>
      <!-- Right: Toggle complete mode -->
      {% include "inc/toggle_complete.html" %}
    </div>
    <!-- Line -->
    <hr class="border-t border-gray-200 my-2" />
    <!-- Bottom: Time and Date | Delete -->
    <div class="flex flex-row justify-between">
      <h2 class="text-gray-500 font-bold">
        Due {{taks.date}} <span class="font-medium text-gray-400">{{task.time}}</span>
      </h2>
      <a href="{% url "delete_confirm" task.id %}">
        <i class="bx bxs-trash bx-sm text-red-500"></i>
      </a>
    </div>
  </div>
</section>

{% endblock content %}
